.container{
    height: 96vh;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.flex3{
    flex: 3;
}
.flex9{
    flex: 9;
}

.header{
    margin: 10px;   
    flex: 1;
}

.p10{
    padding: 10px;
}
.pl10{
    padding-left: 10%;
}
.pr10{
    padding-right: 10%;
}

.col{   
    margin: 10px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    display: flex;
}

h1{
    text-align: center;
}

.menu{
    background-color: #F5F5F5;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-item{   
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #D3D3D3;     
    padding-left: 20px;
    padding-right: 20px;
 
}

.menu-item-container{     
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646464;
}

.menu-item-container:hover{
    background-color: white;
    color: #ff6000;
}

.filter{
    border: 1px solid #e5e5e5;
    flex: 1;
    border-radius: 10px;
    padding-left: 20px;
}

.filter-item{
    margin-left: 2px;
}

.filter-label{
    color: rgb(72, 72, 72);
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 3px;
    width: 95%;
    margin: 3px;
}

.filter-label:hover{
    background-color: #dedddd;
    border-radius: 14px;
}